.container {
    position: relative;
    text-align: center;
    color: rgb(8, 0, 0);
    
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border=box;
    font-family: 'Poppins', sans-serif;
  }

  .con{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    position: relative;
    text-align: center;
    color: rgb(253, 9, 9);
    font-size: 40px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }